<mat-toolbar class="background-height" color="primary">
    <div class="flex-container-row">
        <div>
            <img src="assets/images/me1.jpg" class="profile-picture">
        </div>
        <div class="summary flex-container-column gap-05">
            <span class="header-text">
                Summary
            </span>
            <span class="summary-paragraph">
                Hello there! 👋 I am a passionate and self-motivated individual
                on a journey to become a junior IT professional through great mentor and self-learning.
                My fascination with technology and its ever-evolving landscape has driven me to pursue a career in IT.
            </span>
        </div>
    </div>
</mat-toolbar>


<div class="flex-container-row">
    <mat-card class="contact-flex">
        <mat-card-header>
            <mat-card-title class="contact-information">Contact Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let contact of contacts" class="contact-info">
                <img src="{{contact.image}}" alt="Contact Image">
                <a href="{{contact.url}}" target="_blank" class="custom-link">{{contact.displayText}}</a>
                <mat-icon *ngIf="contact.copyable" class="copy-icon" (click)="copyToClipboard(contact.textToCopy)">content_copy </mat-icon>

            </div>
        </mat-card-content>
    </mat-card>

    <!-- example.component.html -->
<mat-card>
    <mat-card-header>
        <mat-card-title class="large-title">Experience :</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let experience of experiences" class="experience-entry compact">
            <h2>{{ experience.title }}</h2>
            <h1>{{ experience.company }}</h1>
            <p>{{ experience.date }}</p>
            <p>{{ experience.descriptions }}</p>

            <mat-chip-set>
                <mat-chip color="primary" selected *ngFor="let skill of experience.skills">{{ skill }}</mat-chip>
            </mat-chip-set>
        </div>
    </mat-card-content>
</mat-card>

</div>