.background-height {
    height: auto;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
}

.gap-1{
    gap: 1em;
}

.gap-05{
    gap: 0.5em;
}

.profile-picture {
    width : 200px;
    height : auto;
    border-radius: 50%;

}

.summary {
    padding: 1em;
    width: auto;
    text-wrap: wrap;
}

.contact {
    vertical-align: top;
}

.header-text{
    font-size: xx-large;
}

/* if screen width is less than 640px, will apply the below class */
@media screen and (max-width: 640px) {
    .flex-container-row{
        flex-wrap: wrap;
        justify-content: center;
    }
  }