<div>
    <span>Profile photo here</span>
    <span>Summary Paragraph</span>
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>Contact Infomation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let contact of contacts">
            <img src="{{contact.image}}" >
            <a href="{{ contact.url}}" target="_blank">{{ contact.displayText}}</a>
            <mat-icon *ngIf="contact.copyable == true">content_copy</mat-icon>
            <button mat-button>BUTTON</button>
        </div>
    </mat-card-content>
</mat-card>
